[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
prometheus-client = "*"
cachetools = "*"

[dev-packages]
"flake8" = "*"
yapf = "*"

[requires]
python_version = "3.7"
