[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
black = "*"

[packages]
aiohttp = "<4"
multidict = "*"
aioprometheus = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
