-i https://pypi.org/simple
aiohttp==3.5.4
aioprometheus==18.7.1
async-timeout==3.0.1
asynctest==0.12.2
attrs==18.2.0
chardet==3.0.4
idna==2.8
multidict==4.5.2
prometheus-metrics-proto==18.1.1
protobuf==3.6.1
quantile-python==1.1
six==1.12.0
yarl==1.3.0
